<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGYLg3_lb_wepFjfUdYyMYZ-9gkTHz9PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>784005361136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aadzhanow.ios-firebase-auth-example-app</string>
	<key>PROJECT_ID</key>
	<string>ios-firebase-auth-example-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-firebase-auth-example-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784005361136:ios:1cfa8ccbab6be7ba5a8135</string>
</dict>
</plist>